<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MTestNGSuite">
  <test thread-count="5" name="MTestNGTest">
    <classes>
      <class name="com.my.proper.project.myproperproject.AppTest"/>
    </classes>
  </test> <!-- MTestNGTest -->
</suite> <!-- MTestNGSuite -->
